@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sniglet:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::after, *::before {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
body {
  width: 100vw;
  background: #dee4e7;
}